@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background-color: #e8eff7 !important;
}

* {
  font-family: "Montserrat";
  letter-spacing: 0.8px;
}

.bg-vey {
  background-color: #ffff;
}

.header_logo {
  font-size: 19px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  text-decoration: none;
  color: #186aa5;
}

.logo_25 {
  font-size: 25px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  text-decoration: none;
  color: #186aa5;
}


#header_sec {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}


.search_input {
	height: 46px !important;
	border-radius: 0px !important;
	transition: all 0.5s;
}

.search_input:focus {
	height: 44px !important;
	border: 2px solid #007bff;
}

.name{
  font-weight:bold;
  letter-spacing:1px;
}

.candidate-details p{
  margin-bottom: 0rem;
}

.status{
  border-radius: 5px;
  font-size: smaller;
}

.experience , .qualification , .age-gender {
  font-size: smaller;
  font-weight: bold;
  letter-spacing:0.5px;
  text-transform:capitalize;
}

.description{
  font-size: small;
  letter-spacing:0.5px;
  line-height: 18px;
}

.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 22px;
}

.candidate-photo img{
  width:60px;
  border-radius: 50%;
}
