@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
  background-color: #e8eff7 !important;
}

* {
  font-family: "Montserrat";
  letter-spacing: 0.8px;
}

.bg-vey {
  background-color: #ffff;
}

.header_logo {
  font-size: 19px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  text-decoration: none;
  color: #186aa5;
}

.logo_25 {
  font-size: 25px;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  text-decoration: none;
  color: #186aa5;
}


#header_sec {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}
